<form [formGroup]="form" *ngIf="question.hiddenCondition(form)">

  <!--<label [for]="question.key">{{question.label}}</label>-->

  <div [ngSwitch]="question.widget.type">
    <mat-form-field *ngSwitchCase="3">
      <input [id]="question.key" matInput [formControl]="control" [type]="question.type" [ngStyle]="question.style">
    </mat-form-field>

    <app-checkbox-widget *ngSwitchCase="4" [control]="control" [styles]="question.style" [label]="question.key"></app-checkbox-widget>

    <app-radio-widget *ngSwitchCase="2"
                      [control]="control" [styles]="question.style" [questionLabel]="question.key" [optionLabels]="question.widget.labels">
    </app-radio-widget>

    <mat-form-field *ngSwitchCase="6">
      <mat-select [formControl]="control" [(value)]="selected">
        <mat-option *ngFor="let label of widget.labels" [value]="label">{{label}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="5">
      <input [id]="question.key" matInput [formControl]="control" type="number" (change)="onNumberChange(question, $event)"
             [ngStyle]="question.style">
    </mat-form-field>

    <mat-slider *ngSwitchCase="7" [formControl]="control" type="range" [value]="question.value"
                (change)="onNumberChange(question, $event)" [ngStyle]="question.style">

    </mat-slider>
  </div>
</form>
