<form [formGroup]="form" *ngIf="question.hiddenCondition(form)">

  <div [ngSwitch]="question.widget.type">
    <app-text-widget *ngSwitchCase="3"[control]="control" [styles]="question.style" [label]="question.key"
    [type]="question.type"></app-text-widget>

    <app-checkbox-widget *ngSwitchCase="4" [control]="control" [styles]="question.style" [label]="question.key"></app-checkbox-widget>

    <app-radio-widget *ngSwitchCase="2"
                      [control]="control" [styles]="question.style" [questionLabel]="question.key" [optionLabels]="question.widget.labels">
    </app-radio-widget>

    <app-select-widget *ngSwitchCase="6"
                       [control]="control" [styles]="question.style" [questionLabel]="question.key" [optionLabels]="question.widget.labels">
    </app-select-widget>

    <app-spinbox-widget *ngSwitchCase="5" [control]="control" [styles]="question.style" [label]="question.key"></app-spinbox-widget>

    <app-slider-widget *ngSwitchCase="7" [control]="control" [styles]="question.style" [label]="question.key"></app-slider-widget>
  </div>
</form>
