html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/*---------- HEADER ----------*/
header {
    background-color: #000000;
    padding: 13px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: left;
    font-size: 150%;
    color: #ffffff;
}

#title-header {
    margin: 0;
    margin-left: 7px;
}
/*---------- HEADER ----------*/

/*---------- FOOTER ----------*/
footer {
    background-color: #343436;
    padding: 7px;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: center;
    color: white;
    border-top: 1px solid #343436;
    box-shadow: 0 -1px 1px black;
}

#title-footer {
    margin: 0;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #32cd32;
}
/*---------- FOOTER ----------*/

/*---------- CONTENT ----------*/
#content {
    flex-grow: 1;

    display: flex;
    flex-direction: row;
}

#input-boxes-area {
    flex-grow: 1;
    width: 30%;

    display: flex;
    flex-direction: column;
}

.result-display-area {
    flex-grow: 1;
    width: 70%;
    margin: 7px;
}

#ql-input-box {
    flex-grow: 1;
    border: 5px solid #343436;

    display: flex;
    flex-direction: column;
}

#qls-input-box {
    flex-grow: 1;
    border: 5px solid #343436;

    display: flex;
    flex-direction: column;
}

.title {
    background-color: #1a1c1d;
    border-bottom: 1px solid #343436;
    box-shadow: 0 1px 1px black;
}

.title > p {
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: bold;
    color: #ccc;
    margin: 6px 0px 6px 10px;
    font-size: 1.3em;
    display: inline-block;
    padding-left: 2px;
    vertical-align: middle;
}

.code-wrap {
    flex-grow: 9;
    background-color: #1d1f20;

    display: flex;
    flex-direction: column;
}

.ql-and-qls-forms {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.ql-and-qls-input-areas {
    resize: none;
    white-space: nowrap;
    width: 99%;
    border: none;
    margin-left: 2px;
    padding: 0;
    background-color: #1d1f20;
    color: white;
    flex-grow: 1;
}
.title-name, .ql-and-qls-buttons {
    display: inline-block;
}

.ql-and-qls-buttons {
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-top : 5px;
}

input[type="submit"], input[type="reset"] {
    /*padding: 20px;*/
    cursor: pointer;
    border-radius: 8px;
}

input[type="submit"],input[type="reset"]{
    padding: 5px;
    /*background:transparent url('http://www.w3.org/html/logo/downloads/HTML5_Logo_32.png') no-repeat;*/
    /*background: url('/images/runV1.png') no-repeat;*/
}
/*---------- CONTENT ----------*/