<div [formGroup]="form">
  <label *ngIf="question.hiddenCondition(form)" [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <div *ngIf="question.hiddenCondition(form)">
      <input *ngSwitchCase="'textbox'" [formControl]="control"
             [id]="question.key" [type]="question.type" [ngStyle]="question.style" >
    </div>

    <div *ngIf="question.hiddenCondition(form)">
      <input *ngSwitchCase="'checkbox'" [formControl]="control"
             [id]="question.key" [type]="question.controlType"
             (change)="onCheckboxChange(question, $event)" [ngStyle]="question.style" >
    </div>

  </div>

  <div class="errorMessage" *ngIf="isInvalid">{{question.label}} is required</div>
</div>
