<div [formGroup]="form">
  <label *ngIf="question.hiddenCondition(form)" [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <div *ngIf="question.hiddenCondition(form)">
      <input *ngSwitchCase="'textbox'" [formControl]="control"
             [id]="question.key" [type]="question.type" (change)="onTextboxChange($event)">
    </div>

    <div *ngIf="question.hiddenCondition(form)">
      <input *ngSwitchCase="'date'" [formControl]="control"
             [id]="question.key" [type]="text" [ngModel] ="question.value"
             (ngModelChange)="onTextboxChange($event)">
    </div>

    <div *ngIf="question.hiddenCondition(form)">
      <input *ngSwitchCase="'checkbox'" [formControl]="control"
             [id]="question.key" [type]="question.controlType"
             [checked]="question.value"
             (change)="onCheckboxChange($event)">
    </div>

  </div>

  <div class="errorMessage" *ngIf="isInvalid">{{question.label}} is required</div>
</div>
