<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.uva.org/sc/pc/qls/QSLang"
			class = "org.uva.sc.pc.qls.qSLang.QSLangPackage"
			genModel = "model/generated/QSLang.genmodel" />
	</extension>
</plugin>
