<h1>Welcome to our spectacular QL parser!</h1>

<div class="page-container">
  <div class="input">
    <span class="header">Input QL</span>

    <span id="error-message" *ngIf="errorMessage" class="error"> {{errorMessage}}</span>

    <textarea id="input" rows="25" cols="70" [(ngModel)]="input"></textarea><br />
    <span class="header">Input QLS</span>
    <textarea id="inputQls" rows="25" cols="70" [(ngModel)]="inputQls"></textarea>

    <button id="parse-button" (click)="parseInput()">Parse</button>

  </div>

  <div *ngIf="form" class="form">
    <span class="header">{{formName}}</span>
    <form id="form" (ngSubmit)="onSubmit()" [formGroup]="form">

      <mat-tab-group>
        <mat-tab *ngFor="let page of qlsStylesheet.pages">
          <ng-template mat-tab-label>
            {{page.name}}
          </ng-template>
          <mat-list>
            <div *ngFor="let section of page.sections">
              <h3 mat-subheader>{{section.name}}</h3>
              <mat-list-item *ngFor="let question of section.getQuestions()" class="form-row">
                <app-question [question]="getQuestionBaseByName(question.name)" [form]="form"></app-question>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-list>
        </mat-tab>
      </mat-tab-group>

      <div class="form-row">
        <button id="form-submit" type="submit">Save</button>
      </div>
    </form>

    <div *ngIf="payload" class="form-row">
      <strong>Saved the following values</strong><br>{{payload | json}}
    </div>
  </div>
</div>


