<mat-tab-group *ngIf="styles">
  <mat-tab *ngFor="let page of styles.pages" [label]="page.name">
    <ng-template mat-tab-label>
      {{page.name}}
    </ng-template>
    <mat-list>
      <div *ngFor="let section of page.sections">
        <h3 mat-subheader>{{section.name}}</h3>
        <mat-list-item *ngFor="let question of getSectionQuestions(section)" class="form-row">
          <app-question [question]="question" [form]="form"></app-question>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-tab>
</mat-tab-group>
